    /*In a voice channel*/
.vc-uvs-header {
    color: #bdbdbd !important;
}
h3[class^=header]:has(span)
[class^=timestamp] {
    opacity: 0.5;
}
h2[class^=header]:has(span)
[class^=timestamp] {
    opacity: 0.5;
}
[class*=iconGroup]:has([class*=gameIcon]) {
  transform: scale(0.7);
  width: 26px;
[class*=notice]:has([class^=info], [class^=buttons]) {
    z-index: 1 !important;
}
[id="sticker-picker-tab-panel"]>[class*=categoryList],
[id="sticker-picker-tab-panel"]>[id="sticker-picker-grid"]>[class*=wrapper]>[class*=inspector] {
    background-color: rgb(24, 24, 24);
}
[id="emoji-picker-tab-panel"]>[class*=categoryList],
[id="emoji-picker-tab-panel"]>[class*=emojiPicker]>[class*=inspector] {
    background-color: rgb(24, 24, 24);
}
