    /*remove nitro ad*/
[data-list-item-id*="__shop"], [data-list-item-id*="__nitro"] {display: none;}
button[aria-label="Send a gift"] {
  display: none;
}
    /*scroll*/
::-webkit-scrollbar-thumb {visibility: hidden;}
::-webkit-scrollbar-track {visibility: hidden;}
[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }
   /*newbie badge*/
[class*=newMemberBadge]:before {
    content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=64&quality=lossless); /* shiggy img here */
    transform: scale(0.32) translate(-100%, -110%);
    display: inline-block;
}
   /*invite to server in user context menu*/
#user-context-invite-to-server {
  display: none;
}
#user-profile-overflow-menu-invite-to-server {
    display: none;
}
/* Remove transfer to xbox from vc menu */
[id*="channel-context-transfer-xbox-"] {
  display: none !important;
}
   /*unclamp bio length in user popout*/
[class^=descriptionClamp] {
    display: block!important;
    max-height: unset!important;
}
[class^=viewFullBio_] {
        display: none;
}
/* Markdown title highlighting */
.messagelogger-deleted [class*="contents"] div[id*="message-content"] > :is(h1, h2, h3) {
    color: var(--status-danger, #f04747) !important;
}
/* REMOVE FUCKING ACTIVITY LIST FROM MEMBER LIST (╯°□°)╯︵ ┻━┻*/
[class^=membersGroup]:has([role=button]){
    display: none;
}
[class*=openOnHover]:has([class^=infoSection]) {
    display: none;
}
/* Mirror personal webcam preview */
.media-engine-video[class*=mirror_] { transform: none }
[class^=header]:has([class^=headerTags]):has([class^=contextMenu]) {
    display: none;
}
/* Remove Playing/Watching/Streaming */
[class*=activity_] > [class*=header_]{
    display: none;
}
