/* Remove nitro ad */
[data-list-item-id*="__shop"], [data-list-item-id*="__nitro"] {display: none;}
button[aria-label="Send a gift"],
button[aria-label="Wyślij prezent"] {
  display: none;
}

/* Scroll */
/* ::-webkit-scrollbar-thumb {visibility: hidden;}
::-webkit-scrollbar-track {visibility: hidden;}
::-webkit-scrollbar {visibility: hidden;} */
[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }

/* Newbie badge */
[class*=newMemberBadge]:before {
    content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=64&quality=lossless); /* shiggy img here */
    transform: scale(0.32) translate(-100%, -110%);
    display: inline-block;
}

/* Invite to server in user context menu */
#user-context-invite-to-server {
  display: none;
}
#user-profile-overflow-menu-invite-to-server {
    display: none;
}

/* Remove transfer to xbox from vc menu */
[id*="channel-context-transfer-xbox-"] {
  display: none !important;
}

/* Unclamp bio length in user popout */
[class^=descriptionClamp] {
    display: block!important;
    max-height: unset!important;
}
[class^=viewFullBio_] {
        display: none;
}

/* REMOVE FUCKING ACTIVITY LIST FROM MEMBER LIST (╯°□°)╯︵ ┻━┻ */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

/* Mirror personal webcam preview */
.media-engine-video[class*=mirror_] { transform: none }
[class^=header]:has([class^=headerTags]):has([class^=contextMenu]) {
    display: none;
}

.theme-midnight {
    --background-secondary-alt: color-mix(in oklab, var(--neutral-95) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}
.theme-darker {
    --background-secondary-alt: color-mix(in oklab,var(--neutral-82) 100%, var(--theme-base-color,#000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

.visual-refresh ._740174f3d6a2c8fe-button,.buttonContents_e6e74f:not([class*="_67645e1530f1195d-enabled"]) {
    transform: scale(1.25) !important;
}
.visual-refresh ._04eede68d145ae81-spriteContainer {
   transform: scale(1.1) !important;
}

[class*=voiceBar_] {display: none;}

/* fuck off bar */
/* ._5e434347c823b592-sidebar {
    margin-top: -34px;
}
._5e434347c823b592-sidebarList {
    border-top-left-radius: 0 !important;
    border-top: 0px !important;
}
._1f388bcaa446c0c8-tutorialContainer {
    padding-top: 0.66rem;
} */
